credentials.json
token.pickle
token.json
*.pickle
missing-days.py

categories.yaml
blacklist_dates

.env
.venv/
venv/
__pycache__/
.DS_Store
*.xml
*.iml

/shelf/
/workspace.xml
/httpRequests/
/dataSources/